* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
}


header a {
    margin-right: 10pt;
    text-decoration: none;
}

/* header a:link {
    text-decoration: none;
} */

#movie-list {
    list-style: none;
    width: 40rem;
    max-width: 90%;
    margin: 0rem auto;
    padding: 0;
}

.movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    background-color: rgba(94, 105, 141, 0.76);
}


.movie-element__image {
    flex: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.movie-element__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-element__info {
    flex: 2;
    padding: 1rem;
}

#title {
    font-size: 28px;
    margin-bottom: 10px;
}

.film-info {
    font-family: 'Open Sans', sans-serif !important; 
}

span {
    font-weight: bold;
}

.hr-list {
    height: 1px;
    border: none;
    background-color: white;
}

.title-and-link {
    display: flex;
    justify-content: space-between;
}

.title-and-link a{
    color: white;
    margin: 0px 0px 10px;
    height: fit-content;
}

.title-and-link a:hover{
    color: wheat;
}